.video__iframes {
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 auto 0 auto;
  padding: 0;
  list-style-type: none;
  max-width: 1050px;
  z-index: 2;
  top: 50px;
  /* вынужден не согласится с замечанием, при позиционировании relative данная функция смещает объект, 
  таким образом я заехал на фон следующего блока как по брифу */
}
